@use 'functions' as *;
// COLORS
$primary: hsl(350, 98%, 43%);
$background: hsl(206, 44%, 89%);
$dark-blue-1: hsl(210, 24%, 24%);
$dark-blue-2: hsl(212, 23%, 16%);
$dark-grayish-violet: hsl(264, 21%, 25%);
$light-grayish-blue: hsl(211, 24%, 82%);
$white: hsl(0, 0%, 100%);
$shadow-1: hsl(206, 24%, 71%);
$shadow-2: hsl(206, 44%, 69%);

// FONTS
$font-primary: 'Inter', sans-serif;

// FONT WEIGHTS
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
