@use '../utils' as *;
.form {
  @include flex-column;
  gap: rem(24);

  &__group {
    &-input {
      @include flex-column;
      gap: rem(8);
      position: relative;
    }

    &-checkbox {
      @include flex-center;
    }

    &-btn {
      @include flex-v-center;
      justify-content: space-between;

      @include breakpoint-desktop(small) {
        gap: rem(10);
      }
      &-text {
        @include flex-h-center;
      }
    }
  }

  &__label {
    font-size: rem(16);
    font-weight: $semi-bold;
    line-height: rem(16);
    color: $dark-blue-1;
    align-self: start;
  }

  &__input {
    padding: rem(16);
    border: 1px solid $light-grayish-blue;
    border-radius: rem(8);
    font-family: inherit;
    line-height: rem(24);
    font-size: rem(20);

    &--phone {
      color: $dark-grayish-violet;
      &::-webkit-input-placeholder {
        color: $dark-grayish-violet;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    &[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    &--password {
      color: $dark-blue-1;
      &::-webkit-input-placeholder {
        color: $dark-blue-1;
      }

      &-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: rem(16);
        cursor: pointer;
      }
    }
  }

  &__checkbox {
    width: rem(15);
    height: rem(15);
    accent-color: $primary;
    cursor: pointer;

    &-label {
      color: $dark-blue-2;
      cursor: pointer;
      @include flex-center;
    }
  }

  &__forgot-pass {
    margin-left: auto;

    &:link,
    &:visited {
      border-bottom: 1px solid currentColor;
      color: $dark-blue-2;
      padding-bottom: 1px;
    }
  }
}
