@use '../utils' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 rem(3) $light-grayish-blue;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: rem(510);
  margin-inline: auto;
  margin-bottom: rem(50);
}
